<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="ItaliaPizzaDBEntities" connectionString="metadata=res://*/DataLayer.ItaliaPizzaDataModel.csdl|res://*/DataLayer.ItaliaPizzaDataModel.ssdl|res://*/DataLayer.ItaliaPizzaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=italiapizzadatabase.database.windows.net;initial catalog=ItaliaPizzaDB;persist security info=True;user id=chefcito032;password=pollitoPio10;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>