<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItaliaPizzaDBEntities" connectionString="metadata=res://*/DataLayer.ItaliaPizzaDataModel.csdl|res://*/DataLayer.ItaliaPizzaDataModel.ssdl|res://*/DataLayer.ItaliaPizzaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=italiapizzadatabase.database.windows.net;initial catalog=ItaliaPizzaDB;persist security info=True;user id=chefcito032;password=pollitoPio10;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>