<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ItaliaPizzaDBEntities" connectionString="metadata=res://*/DataLayer.ItaliaPizzaModel.csdl|res://*/DataLayer.ItaliaPizzaModel.ssdl|res://*/DataLayer.ItaliaPizzaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=italiapizza.database.windows.net;initial catalog=ItaliaPizzaDB;persist security info=True;user id=chefcito032;password=pollitoPio10;multipleactiveresultsets=True;encrypt=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>